@import "tailwindcss";

@theme {
  --color-gray-600: #f9fbfc;
  
  --color-purple-500: #5046e4;
  --color-purple-300: #e0e7ff;
  --color-purple-400: #4b46a8;
}

@layer utilities {
     .no-scrollbar::-webkit-scrollbar {
       display: none;
     }
     .no-scrollbar {
       -ms-overflow-style: none;  /* IE and Edge */
       scrollbar-width: none;  /* Firefox */
     }
   }